.profile_page_container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 100px 68px 100px 94px;
    column-gap: 60px;
}

.profile_page_sidebar {
    border: 2px solid #A9A9A9;
    border-radius: 10px;
}

.profile_page_detail {
    display: grid;
    grid-template-rows: 1fr 1.2fr;

}

.profile_page_detail_top,
.avatar_name_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile_page_detail_top {
    padding: 40px 0px;
}

.profile_page_detail_top img {
    border-radius: 300px;
    width: 180px;
    height: 200px;
    border: 2px solid #A9A9A9;
    object-fit: contain;
}

.avatar_name_button {
    display: flex;
    flex-direction: column;
}

.avatar_name_button_btn p {
    border-radius: 8px;
    background-color: violet;
    padding: 16px 24px;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}


.profile_page_detail_bottom {
    border: 2px solid #A9A9A9;
    border-radius: 10px;

    display: grid;
    grid-template-rows: 1fr 1fr;

}

.profile_page_detail_section_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.profile_page_detail_section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
}

.profile_page_detail_section i {
    background-color: #7357FF;
    width: 20px;
    padding: 16px;
    border-radius: 12px;
    color: white;
    font-size: larger;
}

.profile_page_detail_section p {
    font-size: 1.5rem;


}

.inline_info {
    display: flex;
    align-items: center;
    gap: 12px;
}